.page {
  background-color: $light-blue;
  scroll-behavior: smooth;

  &__body {
    &--with-menu {
      background-color: inherit;
      overflow: hidden;
    }

    @include onDesktop {
      position: relative;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform $transition-duration;

    &:target {
      transform: translate(0);
    }

    @include onDesktop {
      position: absolute;
      top: 0;

      transform: translateX(0);
      transition: none;
    }
  }

  &__section {
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 152px;
    }

    @include onDesktop {
      margin-bottom: 178px;
    }

    &:last-child {
      @include onDesktop {
        margin-bottom: 350px;
      }
    }
  }
}
