%main-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

%h3-big-text {
  font-size: 96px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%p-body-text {
  font-size: 16px;
  line-height: 150%;

  letter-spacing: -0.16px;
}

%h4-uppercase-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  letter-spacing: 0.02em;
  text-transform: uppercase;
}

%h1-text {
  font-size: 64px;
  line-height: 85%;

  letter-spacing: -3.2px;
  text-transform: uppercase;

  @include onTablet {
    font-size: 80px;
    letter-spacing: -4px;
  }

  @include onDesktop {
    font-size: 136px;
    letter-spacing: -6.8px;
  }

  @include onBigDesktop {
    font-size: 144px;
    letter-spacing: -7.2px;
  }
}

%h2-text {
  font-size: 48px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;

  @include onTablet {
    font-size: 56px;
  }

  @include onDesktop {
    font-size: 72px;
  }
}
